################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SpeedRunners.API/.vs/SpeedRunners.API/v16
/SpeedRunners.API/SpeedRunners/obj
/SpeedRunners.API/SpeedRunners/appsettings.Development.json
/SpeedRunners.UI/README-zh.md
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vs
.vscode
*.suo
*.ntvs*
*.njsproj

/SpeedRunners.API/SpeedRunners/bin
*.user
/SpeedRunners.API/SpeedRunners.Utils/bin
/SpeedRunners.API/SpeedRunners.Utils/obj
/SpeedRunners.API/SpeedRunners.Model/obj
/SpeedRunners.API/SpeedRunners.Model/bin
/SpeedRunners.API/SpeedRunners.DAL/obj
/SpeedRunners.API/SpeedRunners.DAL/bin
/SpeedRunners.API/SpeedRunners.BLL/obj
/SpeedRunners.API/SpeedRunners.BLL/bin
/SpeedRunners.API/SpeedRunners/Properties/PublishProfiles
/SpeedRunners.API/SpeedRunners/Logs
/SpeedRunners.API/SpeedRunners/.config
/SpeedRunners.API/SpeedRunners/appsettings.json
/SpeedRunners.Scheduler/obj
/SpeedRunners.Scheduler/App.config
