/SpeedRunners.API/.vs/SpeedRunners.API/v16
/SpeedRunners.UI/README-zh.md
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vs
.vscode
*.suo
*.ntvs*
*.njsproj

*.user
PublishProfiles
/SpeedRunners.API/SpeedRunners/Logs
/SpeedRunners.API/SpeedRunners/.config
/SpeedRunners.Scheduler/App.config
bin
obj
appsettings.Development.json
appsettings.Production.json
